/* CSS Syntax

selector {
  property:value;
  property:value;
}

*/

p {
  font-size: 1em; /* can be px, pt, % or em */
  line-height: 1.5em;
}

figcaption {
  font-weight:normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;
}
